html {
  font-size: 10px;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header__top {
  margin: 2rem 0;
  text-align: center;
}
.header__title {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1rem;
  text-transform: uppercase;
}
.header__line {
  display: inline-block;
  margin-top: 2rem;
  width: 40px;
  height: 2px;
  background-color: black;
}

.nav {
  text-align: center;
}
.nav__list {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}
.nav__link {
  color: black;
  font-size: 1.5rem;
  font-weight: 300;
}
.nav__link:hover {
  color: #ff0000;
}

.main__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32rem 2rem 32rem 2rem 32rem;
  grid-template-columns: repeat(3, 32rem);
  -ms-grid-rows: 28.4rem 2rem 28.4rem 2rem 28.4rem;
  grid-template-rows: repeat(3, 28.4rem);
  grid-gap: 2rem;
}

.main__row > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.main__row > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.main__row > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.main__row > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.main__row > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.main__row > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.main__row > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.main__row > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.main__row > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.main .work {
  margin: 0;
  margin-bottom: 22px;
  position: relative;
}
.main .work figcaption {
  background-color: rgba(192, 48, 28, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  cursor: pointer;
  visibility: hidden;
}
.main .work:hover figcaption {
  visibility: visible;
}

.main__body {
  margin-bottom: 50px;
}

.col__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.col__body p {
  margin-bottom: 20px;
}

.main__title {
  font-size: 2rem;
  font-weight: 500;
}

.main__text {
  font-size: 1.5rem;
  font-weight: 400;
}

.main__btn {
  font-size: 1.5rem;
  display: inline-block;
  color: white;
}

.our {
  background: url("./../image/bg.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin-bottom: 10rem;
  min-height: 50vh;
}
.our__hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(192, 48, 28, 0.7)), to(rgba(192, 48, 28, 0.7)));
  background: linear-gradient(180deg, rgba(192, 48, 28, 0.7), rgba(192, 48, 28, 0.7));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.our__desc {
  text-align: center;
  margin-top: 10rem;
  color: white;
  font-size: 2rem;
  line-height: 130%;
}
.our__desc span {
  text-transform: uppercase;
}
.our__text {
  margin-bottom: 4rem;
}
.our__link {
  border: 1px solid white;
  padding: 1rem 2rem;
  color: white;
}

.posts {
  margin: 2rem 0;
  text-align: center;
}
.posts__title {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1rem;
  text-transform: uppercase;
  text-align: center;
}
.posts__line {
  display: inline-block;
  margin-top: 2rem;
  width: 40px;
  height: 2px;
  background-color: black;
  margin-bottom: 2rem;
}
.posts__text {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}
.posts__columns {
  text-align: left;
}
.posts__columns-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
}
.posts__top-date-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  margin-bottom: 2rem;
}
.posts__top-date {
  border: 1px solid black;
  padding: 1rem;
}
.posts__top-text p {
  text-align: left;
  line-height: 170%;
}
.posts__top-link {
  display: inline-block;
  color: red;
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
}