.main
    &__row
        display: grid
        grid-template-columns: repeat(3, 32rem)
        grid-template-rows: repeat(3, 28.4rem)
        grid-gap: 2rem
    .work
        margin: 0
        margin-bottom: 22px
        position: relative
    .work figcaption
        background-color: rgb(192, 48, 28, 0.7)
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%

        text-align: center
        color: white
        cursor: pointer

        visibility: hidden
    .work:hover figcaption
        visibility: visible
.main__body
    margin-bottom: 50px
.col__row
    display: flex
    flex-direction: column
    justify-content: space-evenly
.col__body p
    margin-bottom: 20px
.main__title
    font-size: 2rem
    font-weight: 500
.main__text
    font-size: 1.5rem
    font-weight: 400
.main__btn
    font-size: 1.5rem
    display: inline-block
    color: white
// ============
.our
    background: url('./../image/bg.jpg')
    position: relative
    background-repeat: no-repeat
    background-size: cover
    background-position: top center
    margin-bottom: 10rem
    min-height: 50vh
    &__hover
        background: linear-gradient(180deg,rgba(192, 48, 28, 0.7), rgba(192, 48, 28, 0.7))
        position: absolute
        top: 0
        left: 0

        width: 100%
        height: 100%
    &__desc
        text-align: center
        margin-top: 10rem
        color: white
        font-size: 2rem
        line-height: 130%
    &__desc span
        text-transform: uppercase
    &__text
        margin-bottom: 4rem
    &__link
        border: 1px solid white
        padding: 1rem 2rem
        color: white
